<!DOCTYPE html>
<html>
<head>
    <title>Temperature App</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/show-temperatures.js"></script>
</head>
<body>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Temperature Value</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="temperatureTableBody"></tbody>
    </table>
</div>
</body>
</html>